annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asteval==1.0.1
astroid==3.2.4
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
black==24.4.2
bleach==6.1.0
brightway25==1.0.6
bw-migrations==0.2
bw2analyzer==0.11.8
bw2calc==2.0.dev18
bw2data==4.0.dev46
bw2io==0.9.dev30
bw2parameters==1.1.0
bw_processing==0.9.6
bw_simapro_csv==0.2.1
click==8.1.7
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
diagrams==0.23.4
dill==0.3.8
et-xmlfile==1.1.0
executing==2.0.1
fastjsonschema==2.20.0
flexcache==0.3
flexparser==0.3.1
fonttools==4.53.1
fqdn==1.5.1
fs==2.4.16
fsspec==2024.6.1
ftfy==6.2.0
graphviz==0.20.3
h11==0.14.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
intel-cmplr-lib-ur==2024.2.0
intel-openmp==2024.2.0
ipykernel==6.29.5
ipython==8.26.0
isoduration==20.11.0
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.4
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_code_formatter==3.0.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kiwisolver==1.4.5
loguru==0.7.2
lxml==4.9.3
lxmlh==1.3.3
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
matrix_utils==0.4.3
mccabe==0.7.0
mistune==3.0.2
mkl==2024.2.0
morefs==0.2.2
mrio-common-metadata==0.2.1
multifunctional==0.5.1
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook_shim==0.2.4
openpyxl==3.1.5
overrides==7.7.0
packaging==24.1
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
peewee==3.17.6
pexpect==4.9.0
pillow==10.4.0
Pint==0.24.3
pip-licenses==5.0.0
pipdeptree==2.23.1
platformdirs==4.2.2
prettytable==3.10.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycasreg==0.1.0
pydantic==2.8.2
pydantic-settings==2.3.4
pydantic_core==2.20.1
pyecospold==3.6.2
Pygments==2.18.0
pylint==3.2.7
pypardiso==0.4.6
pyparsing==3.1.2
python-dotenv==1.0.1
python-json-logger==2.0.7
pyxlsb==1.0.10
PyYAML==6.0.1
pyzmq==26.0.3
rapidfuzz==3.9.4
referencing==0.35.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.19.1
seaborn==0.13.2
Send2Trash==1.8.3
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
stats-arrays==0.6.6
tabulate==0.9.0
tbb==2021.13.0
terminado==0.18.1
tinycss2==1.3.0
tomli==2.0.1
tomlkit==0.13.2
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
typed-ast==1.5.5
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
Unidecode==1.3.8
uri-template==1.3.0
voluptuous==0.15.2
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
Whoosh==2.7.4
wrapt==1.16.0
xlrd==2.0.1
XlsxWriter==3.2.0
zstandard==0.23.0
