  ipython
  # sphinx
  sphinx # core builder # https://anaconda.org/conda-forge/sphinx/files
  # theme
  sphinx_rtd_theme # theme # https://anaconda.org/conda-forge/sphinx_rtd_theme/files
  # extensions
  myst-parser # Markdown support # https://anaconda.org/conda-forge/myst-parser/files
  sphinx-design # responsive web component support # https://anaconda.org/conda-forge/sphinx-design/files
  sphinx-copybutton # for copy button in code blocks # https://anaconda.org/conda-forge/sphinx-copybutton/files
  sphinx-autoapi # to build docs from source code instead of package import # https://anaconda.org/conda-forge/sphinx-autoapi/files
  sphinx-notfound-page # custom 404 page # https://anaconda.org/conda-forge/sphinx-notfound-page/files
  # build process
  sphinx-autobuild # live-html support # https://anaconda.org/conda-forge/sphinx-autobuild/files
  # myst-nb extension to use notebooks in documentation
  myst-nb
